* h1{
    color: blueviolet;
    font-size: small;
}

#contenedor{

  
}

#menu {
    background-color: #f6eff7;
    height: 750px;
    width: 295px;
    display: block;
    
}

#contenido {
    height: 750px;
    width: 550px;
    display: inline-block;
    margin-left: 300px;
    margin-top: -760px;
    display: block;
         
}
#trending {
    display: block;
    height: 180px;
    width: 550px;
    margin-left: 0px;
}

#fotos1{
    display: inline;
    margin-left: 200px;
}
#robert {
    display: block;
    height: 180px;
    width: 550px;
    margin-left: 0px;
}
#herry {
    display: block;
    height: 180px;
    width: 550px;
    margin-left: 0px;
}
#caja1 {
    background-color: #f6eff7;
    height: 295px;
    width: 265px;
    padding-left: 30px ;
    padding-top: 30px;
    
}


#caja2 {
    background-color: #f6eff7;
    height: 295px;
    width: 295px;
    margin-top: 5px;
    display: block;
}

#caja3 {
    background-color: #f6eff7;
    height: 140px;
    width: 295px;
    display: block;
}