h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h1{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
}

h1{
    font: bold 20px sans-serif;
}

header, section, aside, footer, nav, article, hgroup {
    border: 1px black;
    display: block;
}

body{
    text-align: justify;
}

ul li{
    color: blue;
}