/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    min-height: 150px;
    background-color: green;
    position: relative;
    top: 15px;
    margin: 15px;
   }
  
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 15px;
   
   }
   #main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    position: relative;
    top: -85px;
    margin-left: 15px;
   
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    left: 15px;
    top: 15px;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    position: relative;
    left: 15px;
    top: 40px;
   }